<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-12 text-center">
            <h1>Mis datos personales</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/usuarios/imgOmar.jpg" alt="Card image cap">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Cambiar foto de perfil</label>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Coordinador de sistemas</h5>
                    <strong><p class="mb-0 pb-0">Nombre:</p></strong>
                    <p class="mt-0 pt-0">omar de jesus</p>
                    <strong><p class="mb-0 pb-0">Apellidos:</p></strong>
                    <p class="mt-0 pt-0">jimenez solano</p>
                    <strong><p class="mb-0 pb-0">Departamento:</p></strong>
                    <p class="mt-0 pt-0">NTIC</p>
                    <strong><p class="mb-0 pb-0">Puesto:</p></strong>
                    <p class="mt-0 pt-0">Coordinador de sistemas</p>
                </div>
                <div class="card-body ">
                    <div class="col-12 text-center">
                        <button type="button" class="btn text-blanco bg-rojo" data-toggle="modal" data-target="#exampleModal">
                            Cambiar Datos
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">!Advertencia¡</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Cambiando datos</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary bg-rojo" data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary bg-naranja">Cambiar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="contenedor">
        <form action="">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Sitio</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                              <option selected>Selecciona un sitio...</option>
                              <option value="1">Mercadology</option>
                              <option value="2">Rohe</option>
                              <option value="3">KOM</option>
                            </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Fecha Inicio</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                              <option selected>Selecciona fecha inicio...</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Fecha Fin</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                              <option selected>Selecciona fecha fin...</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button type="button" class="btn bg-rojo">Generar Reporte</button>
                </div>
            </div>
        </form>
    </div>
</div>