<div class="container">
    <div class="row">
        <div class="col">
            <div class="col-login">
                <div class="cont-img">
                    <img class="img-login" src="../../../assets/imagenes/login/logo-mercadology-blanco.png" alt="">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Correo electrónico">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Contraseña">
                </div>
                <div class="mb-3 cont-restablecer">
                    <a href="#" class="text-restablecer">¿Restablecer contraseña?</a>
                </div>
                <div class="mb-3 d-grid">
                    <a href="" class="btn btn-block gris text-white btn-dark">Entrar</a>
                </div>
            </div>
        </div>
    </div>
</div>