<p>gestion works!</p>

<button class="btn1 gree up"> GUARDAR CAMBIOS</button>
<div id="contain">
    <table id="gestionar">
        <tr>
            <th  colspan="7">CONFIGURACION DE BASE DE DATOS</th>
            <th colspan="2"> CONFIGURACION FTP</th>
            <th colspan="3"> CONFIGURACION DE HOSPEDAJE</th>
            <th colspan="3"> CONFIGURACION DE DOMINIO</th>
            <th colspan="2"> CORREO</th>
            <th> ACCESO CPANEL :2082</th>
            <th>COMENTARIOS</th>
            <th>Vencimiento SSL</th>
        </tr>

        <tr>
            <th class="yew">DOMINIO</th>
            <th class="yew">CLIENTE/EMPRESA</th>
            <th>DIRECCION IP</th>
            <th>BD NAME</th>
            <th class="yew">BD</th>
            <th class="yew">BD PASSWORD</th>
            <th>BD PASSWORD</th>
            <th class="yew">	FTP USER</th>
            <th >	FTP PASS</th>
            <th>HOSPEDAJE</th>
            <th class="yew">VENCIMIENTO</th>
            <th>ACCESO AL HOSPEDAJE</th>
            <th class="yew" >DONDE FUE EL DOMINIO</th>
            <th>VENCIMIENTO DE DOMINIO</th>
            <th  class="yew" >ACCESO AL REGISTRADOR</th>
            <th>CUENTA ADMINISTRADORA DE ZOHO</th>
            <th  class="yew" >CORREO Y PASS</th>
            <th  colspan="5"></th>

        </tr>

        <tr>
            <td>DSDSA</td>
            <td>DSADSA</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>DSDSA</td>
            <td>DSADSA</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>DSDSA</td>
            <td>DSADSA</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
        </tr>
        <tr>
            <td>DSDSA</td>
            <td>DSADSA</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>DSDSA</td>
            <td>DSADSA</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>DSDSA</td>
            <td>DSADSA</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
        </tr>
        <tr>
            <td>DSDSA</td>
            <td>DSADSA</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>DSDSA</td>
            <td>DSADSA</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>DSDSA</td>
            <td>DSADSA</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
            <td>SDADSAD</td>
        </tr>
    </table>
</div>